each status in Backpacks.order
  if Backpacks.results[ status ]
    each items, steamId32 in Backpacks.results[ status ]
      .backpack(data-steamid32=steamId32)
        .user(data-steamid32=steamId32)
        .items(data-steamid32=steamId32)
          each item, itemId in items
            a(href="//steamcommunity.com/profiles/#{item.person.steamId64}/inventory/##{Settings.appid}_#{Settings.contextid}_#{itemId}", target="_blank")
              img(data-itemid=itemId, src="//steamcommunity-a.akamaihd.net/economy/image/#{item.description.icon_url}/73fx49f", style="border:1px solid ##{item.item.color};")
