mixin buttonSearch( addClassName )
  button#sisbf_search.btn_medium.sisbf_menu--space(type='submit', class=addClassName)
    span Search
mixin buttonLoad( addClassName )
  button#sisbf_load.btn_medium.sisbf_menu--space(type='submit', class=addClassName)
    span Load inventories (#{Persons.current}/#{Persons.total})
mixin inputAppid( inputDisabled )
  .gray_bevel.for_text_input.sisbf_menu--space
    | Appid:&nbsp;
    input#sisbf_appid(size='4', name='search_string', placeholder='Appid', value=Settings.appid, disabled=inputDisabled)
mixin inputContextid( inputDisabled )
  .gray_bevel.for_text_input.sisbf_menu--space
    | Context:&nbsp;
    input#sisbf_contextid(size='4', name='search_string', placeholder='Context', value=Settings.contextid, disabled=inputDisabled)

.sisbf_render--diff
  .gray_bevel.for_text_input
    input.sisbf_render--oneway#sisbf_text(size='40', name='search_string', placeholder='Enter name of items you searching', value=Settings.search)
  case Persons.state
    when PERSONSCLUB_IDLE
      +inputAppid( false )
      +inputContextid( false )
      +buttonSearch( 'btn_darkblue_white_innerfade' )
      +buttonLoad( 'btn_green_white_innerfade' )
    when PERSONSCLUB_PROCESS
    when PERSONSCLUB_RESUME
      +inputAppid( true )
      +inputContextid( true )
      +buttonSearch( 'btn_blue_white_innerfade' )
      +buttonLoad( 'btn_blue_white_innerfade' )
    when PERSONSCLUB_PAUSE
      +inputAppid( false )
      +inputContextid( false )
      +buttonSearch( 'btn_blue_white_innerfade' )
      +buttonLoad( 'btn_green_white_innerfade' )
    when PERSONSCLUB_DRAIN
      +inputAppid( false )
      +inputContextid( false )
      +buttonSearch( 'btn_green_white_innerfade' )
      +buttonLoad( 'btn_darkblue_white_innerfade' )
    default
      +inputAppid( false )
      +inputContextid( false )
      +buttonSearch( 'btn_darkblue_white_innerfade' )
      +buttonLoad( 'btn_green_white_innerfade' )
